null

#uioyp {
    background-image: url("https://managix.id/tools/landingpage/assets/images/uploads/kHpgTrRsVvgV60u.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#afkwt {
    background: #f64747;
}

#uioyp {
    background-image: url("https://managix.id/tools/landingpage/assets/images/uploads/kHpgTrRsVvgV60u.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal {
    background: #ffffff;
    padding: 50px 55px 55px 55px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column {
    background: rgba(255, 255, 255, 0.01);
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl {
    padding: 50px 0px 50px 0px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > #product-form {
    padding: 35px 20px 20px 20px;
    margin-bottom: 10px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > .form-group {
    padding: 20px 20px 20px 20px;
    margin-bottom: 10px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > .button-form {
    padding: 20px 40px 20px 40px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > #idmvh > .locked > .center-block > .button-form {
    padding: 20px 40px 20px 40px;
    margin-bottom: 40px;
    background: ;
    font-family: Century Gothic, sans-serif;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > #idmvh > .locked > .center-block {
    margin-bottom: 40px;
    margin: 0px;
    margin-right: 0px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > .form-group > .label-column {
    margin-bottom: px;
    padding: 0px 15px 0px 20px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > #product-form > #product-column-label {
    padding: 0px 15px 0px 20px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > .mgx_tauzy {
    padding: 0px 40px 10px 40px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > .mgx_tauzy > .elementor-widget-text-editor > .elementor-widget-container > .elementor-text-editor > .text-center {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.375rem;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > .mgx_tauzy > .elementor-element-nngtruf > .elementor-widget-container > .elementor-heading-title {
    margin-bottom: 30px;
    font-size: 2.3125rem;
    font-weight: bold;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > #product-form > #product-desc-column > #list-product-desc-4 {
    margin-top: 10px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > #product-form > #product-desc-column > #list-product-desc-3 {
    margin-top: 10px;
    padding: 0px 0px 0px 0px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > #product-form > #product-desc-column > #list-product-desc-1 {
    margin-top: 7px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > #product-form > #product-desc-column > .col-sm-12 > #tdrcf {
    margin-top: 20px;
    margin-bottom: 20px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > #idmvh > .locked > .center-block > .text-center {
    font-weight: bold;
    font-size: 1.5rem;
    background: #f5ab35;
    padding: 5px 15px 5px 15px;
}

#uioyp > .container > .locked > .col-placeholder > #mijfl > #form-column > #qwnyh > .container > .locked > .col-placeholder > .mgx_jsskh {
    font-family: Century Gothic, sans-serif;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > #qwnyh > .container > .locked > .col-sm-12 > .mgx_jsskh {
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
    color: #ffffff;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .text-center {
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding: 5px 5px 35px 5px;
    font-size: 2.3125rem;
}

#uioyp > .container > .locked > .col-placeholder > #mijfl > #form-column > .mgx_wttim {
    font-size: 1.125rem;
}

#uioyp {
    background-image: url("https://managix.id/tools/landingpage/assets/images/uploads/jOPKfy4SBtd57gM.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > .mgx_tauzy {
    padding: 0px 0px 10px 0px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal {
    padding: 35px 15px 55px 15px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > .form-group > .center-block > .text-center {
    background: #f5ab35;
    font-weight: bold;
    padding: 15px 40px 15px 40px;
}

#uioyp {
    background-image: url("https://managix.id/tools/landingpage/assets/images/uploads/X7aB9hb6LY2ewXA.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > .form-group > .center-block > .text-center {
    color: #ffffff;
}

#uioyp {
    background-image: url("https://managix.id/tools/landingpage/assets/images/uploads/H8jEH3n0LdDjrMB.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#uioyp > #ahfqp > .locked > #nyhzt-0 > .mgx_krnvn {
    font-family: Century Gothic, sans-serif;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > .form-group > .center-block {
    margin-bottom: 20px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > .form-group > .border-solid {
    margin-bottom: 20px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > .form-group > #nyhzt-0 > .mgx_krnvn {
    font-family: Century Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > .form-group > #cqhar-0 > #ubmlz {
    margin-top: 10px;
    margin-bottom: 10px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > .form-group > #cqhar-0 > #dylsi {
    margin-top: 10px;
    margin-bottom: 10px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > .form-group > #cqhar-1 > #aiyts {
    margin-top: 10px;
    margin-bottom: 10px;
}

#uioyp > .container > .locked > .col-sm-12 > #mijfl > #form-column > .form-horizontal > .form-group > #cqhar-1 > #oqlnr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#uioyp {
    background-image: url("https://managix.id/tools/landingpage/assets/images/uploads/Ko5eFtGg3hPZpyx.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*.container {
    padding-top: 10px;
    padding-bottom: 10px;
}*/

.elHeading {
		font-size: 20px;
		text-align: center;
		padding: 10px;
	}

.managix-image img {
	    padding-left: 15px;
	    padding-right:15px;
	    margin: 0 auto;
}

.section {

}